<%= turbo_stream_from @post %>
<div class="w-full flex border-2 p-4 my-2 border-dotted border-lime-600">
  <div class="">
    <p class="my-5">
      <strong class="block font-medium mb-1">Title:</strong>
      <%= @post.title %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Body:</strong>
      <%= @post.body %>
    </p>

    <%= link_to "Edit this post", edit_post_path(@post), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to posts", posts_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>